
body {
  position: relative;
}

.base-font {
  font-family: 'Montserrat', cursive;
  font-weight: 200;
}

.base-font-bold {
  font-family: 'Montserrat', cursive;
  font-weight: 300;
}

.page-header {
  font-family: 'Hammersmith One', sans-serif;
  margin-top:30px;
  margin-bottom:20px;
}

.page-container {
  padding-top:50px;
}

.name-text {
  margin-top: 40vh;
  font-family: 'Great Vibes', cursive;
}

.wedding-text {
  margin-top: 5vh;
  font-family: 'Great Vibes', cursive;
}

.venue-date-text {
  margin-top: 30vh;
}

.hr-bar {
  margin-top:40px;
}

.responsive-map {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.vertical-aligned-row {
    display: flex;
    align-items: center;
}

.login-box {
  padding-top:10px;
  padding-bottom:10px;
}

.rsvp-box {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px;
  padding-right:5px;
  width:100px;
  text-align:center;
}

.login-button {
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
}

.account-create-text {
  width: 50%;
}

