{% extends "wedding/blocks/base.html" %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div id="contact" class="container-fluid base-font page-container">
  <h1 class="page-header text-center">Points of Contact</h1>

  <!-- Row with wedding map and venue info -->
  <div class="row">
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">Ari Mazo<br>
        <small class="text-muted">Best Man</small>
      </h2>
      <p>
        Related to the groom or a family friend? Best Man Ari is here for you!
      </p>
    </div>
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">Steven Okai<br>
        <small class="text-muted">Best Friend</small>
      </h2>
      <p>
        Went to Caltech or attending the wedding with a Caltech alumnus?
        Good guy Okai can help you find a ride to the Bay to LA, a place
        to stay, or a carpool to the wedding.
      </p>
    </div>
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">Lily Cordero<br>
        <small class="text-muted">Maid of Honor</small>
      </h2>
      <p>
        Went to school with the bride or don't recognize any of the
        other names? Maid of Honor Lily can answer all your questions!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-justify">
        email: apipemazo AT me DOT com <br>
        phone: (508) - 685 - 5402
    </div>
    <div class="col-sm-4 text-justify">
        email: sokai AT outlook DOT com <br>
        phone: (808) - 203 - 0116
    </div>
    <div class="col-sm-4 text-justify">
        email: lily.e.cordero AT gmail DOT com <br>
        phone: (510) - 205 - 3694
    </div>
</div>
{% endblock %}
