{% extends "wedding/blocks/base.html" %}
{% load static %}

{% block title %}
Weekend Events
{% endblock %}

{% block content %}
<div id="events" class="container-fluid page-container">
  <h1 class="page-header text-center">Weekend Events</h1>

  <!-- Row with wedding map and venue info -->
  <div class="row">
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">
        Friday, 2/16<br>
        <small class="text-muted">Shabbat/Chinese New Year</small>
      </h2>
      <p>
        We'll be gathering around 7PM at a Chinese Restaraunt in the <a href="https://www.google.com/maps/place/San+Gabriel+Valley/@34.0333435,-118.0720303,13z/data=!4m5!3m4!1s0x80c2d121478bbab5:0xdc01ba18a15032ea!8m2!3d34.0333443!4d-118.0370113">San Gabriel Valley</a>
        area for a celebration of cultures. We'll celebrate <a href="https://en.wikipedia.org/wiki/Shabbat">shabbat</a>,
        <a href="https://en.wikipedia.org/wiki/Chinese_New_Year">春节</a>, and family. All who are in town are welcome to attend. Likely to be followed by Boba at <a href="https://www.yelp.com/search?find_desc=half+and+half&find_loc=Monterey+Park%2C+CA&ns=1">Half and Half</a> around 9PM.
      </p>
    </div>
    <div class="col-sm-4 text-justify">
      <h2 class="text-center"> Saturday, 2/17 </h2>
      <p> No activities scheduled, <a href="/explore">explore LA!</a></p>
    </div>
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">
        Sunday, 2/18<br>
        <small class="text-muted">The wedding!</small>
      </h2>
      <p>
        Ceremony begins at 4PM. <a href="/ceremony">More Details</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
