{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
  <head>

    <!-- Page title -->
    <title>Gifts</title>

    <!-- Code shared across all head blocks -->
    {% include "wedding/blocks/head.html" %}

  </head>
{% endblock %}

<!-- Navbar code -->
{% include "wedding/blocks/navbar.html" %}

{% block gifts %}
<div id="gifts" class="container-fluid text-center page-container">
  <h1 class="page-header">Gifts</h1>

  <!-- Row with wedding map and venue info -->
  <div class="row">
    <div class="col-sm-6 base-font text-center">
      <h2> Donations </h2>
      <p>
      There are some amazing charities who could use a gift more than we need a new set of silverware. Please consider a donation to one of the charities below in lieu of or in addition to a gift. <br><br>
      We'll update this list with links shortly.
      </p>
    </div>
    <div class="col-sm-6 base-font text-center">
      <h2> Registries </h2>
      <p>
      We'll update this list with our registries when we've, well, registered :)
      </p>
    </div>
  </div>
</div>
{% endblock %}

<!-- Bootstrap code -->
{% include "wedding/blocks/bootstrap.html" %}
