{% extends "wedding/blocks/base.html" %}
{% load easy_maps_tags %}
{% load static %}

{% block title %}
J&D
{% endblock %}

{% block style %}
  .main_jumbotron {
      background-image: url({% static 'images/landing_image_date.jpg' %});
      background-size: cover;
      background-position: top; /* Centers - top to avoid head chop-off */
      height: 100vh;
      margin-bottom:0px;
  }
{% endblock %}

{% block content %}
<!-- Intro picture/info -->
<div class="main_jumbotron jumbotron">
  <div class="container-fluid text-center">
    <h1 class="main-header-text">
      Jennifer Fang<br>
      <span class="glyphicon glyphicon-heart"
        style="font-size:6vmin"></span><br>
      Dan Pipe-Mazo
    </h1>
    <p class="venue-date-text">
    02 · 18 · 18
    </br>
    La Venta Inn, Palos Verdes, CA
    </p>
  </div>
</div>

<!-- Our Story -->
<div id="story" class="container-fluid">
  <h1>Our Story</h1>
</div>

<!-- The Wedding -->
<div id="wedding" class="container-fluid">
  <h1>The Wedding</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <h2 class="card-header">#Team</h2>
        <p class="card-text">
          Our wedding wouldn't be possible without our wonderful friends 
          and family who have helped us plan, design, assemble, and make it 
          a blast :)
        </p>
        <a href="#" class="btn btn-primary">Meet them!</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h2 class="card-header">Wedding Details</h2>
        <p class="card-text">
          We are excited to have you join us! Find out more about the 
          ceremony, reception, parking, attire, and timeline here.
        </p>
        <a href="wedding_details.html"
          class="btn btn-primary">Festivities</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h2 class="card-header">Welcome to LA!</h2>
        <p class="card-text">
          Looking for fun things to do in LA while you're here? We've got 
          you covered with ideas from museums to gardens to theme parks and
          food, food, food!
        </p>
        <a href="#" class="btn btn-primary">Let's go!</a>
      </div>
    </div>
  </div> <!-- end row -->
</div> <!-- end wedding container -->
{% endblock %}
