{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
  <head>

    <!-- Page title -->
    <title>RSVP</title>

    <!-- Code shared across all head blocks -->
    {% include "wedding/blocks/head.html" %}

  </head>
{% endblock %}

<!-- Navbar code -->
{% include "wedding/blocks/navbar.html" %}

{% block RSVP %}
<div id="contact" class="container-fluid text-center page-container">
  <h1 class="page-header">RSVP</h1>
</div>
{% endblock %}

<!-- Bootstrap code -->
{% include "wedding/blocks/bootstrap.html" %}
