{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
  <head>

    <!-- Page title -->
    <title>Our Story</title>

    <!-- Code shared across all head blocks -->
    {% include "wedding/blocks/head.html" %}

  </head>
{% endblock %}

<!-- Navbar code -->
{% include "wedding/blocks/navbar.html" %}

{% block story %}
<div id="story" class="container-fluid text-center page-container">
  <h1 class="page-header">Our Story</h1>
  <div class="row">
    <div class="col-sm-4 base-font text-center">
      <h2 class="base-font"> Love at First Bite </h2>
      <p> Thanksgiving, 2014. Dan, having recently moved to San Diego,
      attended "Friendsgiving" on the Friday after Thanksgiving. This is a
      pot-luck style yearly event typically arranged by Steven Okai that
      brings together a large group of (mostly Caltech) friends for the
      holidays. Jennifer, a.k.a "JFang", was in attendance and was attempting
      to fix a fairly horrible gravy that another friend had started but long
      since abandoned. Jennifer, introductions be damned, ran up to Dan and
      asked "what does this gravy need!?". Dan recommended adding some wine,
      and Jennifer was quite impressed.
      </p>
    </div>
    <div class="col-sm-4 base-font text-center">
      <h2 class="base-font"> The Set-Up </h2>
      <p> Jennifer, in an effort to cheer up Steven after a recent break-up,
      hatched a scheme to get Steven a date for Valentine's day. After
      purchasing Steven a date at the USCD "date auction" fundraiser (yes,
      you read that correctly), Jennifer was in a bit of a connundrum. She
      wanted to make it a group date in order to relax the mood, but she
      herself then needed a date. Out of Steven's San Diego-based friends, Dan
      was selected as the "goldilocks" of conversational ability. Dan spent
      the night telling stories of his and Steven's recent blizzard-filled
      snowboarding adventures, occasionally also delving into some delightful
      conversation with Jennifer.
      </p>
    </div>
    <div class="col-sm-4 base-font text-center">
      <h2 class="base-font"> The Parking Lot </h2>
      <p> In the Valentine's day dinner discussions and thereafter through
      calls and texts, Dan and Jennifer realized they had significant common
      interests and backgrounds. One of these common interests is the TV show
      "Avatar: The Last Airbender". A few weeks after the Valentine's day
      dinner there was an art exhibition dedicated to the show and its fans
      at an art gallery in Alhambra. Dan invited Jennifer to attend and
      she obliged. The gallery opening proved to be a popular event, and Dan
      and Jennifer got to know each other more while standing in line for
      <span class="base-font-bold">four hours</span>
      in the parking lot. The night ended spectacularly with their first kiss!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 base-font text-center">
      <h2 class="base-font"> Dating, sponsored by #Southwest </h2>
      The long-distance relationship between Jennifer at UCLA and Dan in San
      Diego seemed reasonable, the the two agreed to give it a shot. Then Dan
      promptly screwed it up, quitting his job in SD to move into his friend's
      kitchen in Cupertino and join an early-stage startup. Jennifer was
      thankfully unphased by Dan's nonsense, and spent a majority of her
      time those few months on a mattress in said kitchen while studying for
      Step 1. Over the next few years, Dan and Jennifer ping-ponged back and
      forth between LA and SF on weekends. Many a brunch was consumed in the
      dating process.
      <p>
      </p>
    </div>
    <div class="col-sm-6 base-font text-center">
      <h2 class="base-font"> ... and back to the Parking Lot </h2>
      <p> After toiling through the holidays prepping his CES 2017 demo, Dan
      managed to take a few days off with Jennifer in LA before his trip to
      Las Vegas. Jennifer proposed a day trip to see the new Pixar exhibit at
      the California Science Center and afterwards see the Pixar art expo at
      the very same art gallery where they first got to know each other. It
      was pouring rain when they arrived at the gallery, but Dan had other
      plans. He led Jennifer deep into the parking lot, to the very spot where
      they had talked for so many hours. Down on one knee, with Jennifer
      holding the umbrella, Dan proposed and Jennifer said yes!
      </p>
    </div>
  </div>
</div>
{% endblock %}

<!-- Bootstrap code -->
{% include "wedding/blocks/bootstrap.html" %}
