{% extends "wedding/blocks/base.html" %}
{% load static %}

{% block title %}
Team
{% endblock %}

{% block content %}
<div id="story" class="container-fluid page-container base-font">
  <h1 class="page-header text-center">#team</h1>

  <!-- Groomsmen -->
  <div class="row">
    <div class="col-sm-6 text-justify">
      <div class="team-member">
        <h2 class="text-center">Ari Mazo</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Best man </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Sean Keenan</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Groomsman </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Eli Alster</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Groomsman </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Ben Lieber</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Groomsman </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Alex Wilson</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Groomsman </p>
      </div>
    </div>

  <!-- Bridesmaids -->
    <div class="col-sm-6 text-justify">
      <div class="team-member">
        <h2 class="text-center">Steven</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Bridesman </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Roy</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Bridesman </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Yelly</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Bridesmaid </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Delara</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Bridesmaid </p>
      </div>

      <div class="team-member">
        <h2 class="text-center">Lily</h2>
        <image src="{% static 'images/team/ari_mazo.jpg' %}" class="img-responsive img-circle half-width-image float-center" alt="Ari Mazo"/>
        <p class="text-center"> Maid of Honor </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
