{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
  <head>

    <!-- Page title -->
    <title>Travel & Lodging</title>

    <!-- Code shared across all head blocks -->
    {% include "wedding/blocks/head.html" %}

  </head>
{% endblock %}

<!-- Navbar code -->
{% include "wedding/blocks/navbar.html" %}

{% block travel %}
<div id="travel" class="container-fluid text-center page-container">
  <h1 class="page-header">Travel & Lodging</h1>

  <!-- Row with wedding map and venue info -->
  <div class="row">
    <div class="col-sm-4 base-font text-center">
      <h2> Air Travel </h2>
      <p>
      There are two airports which will work well for travelling to the
      wedding: Los Angeles International Airport (LAX) and Long Beach Airport
      (LGB). Both are roughly equidistant to the ceremony location and lodging,
      30-45 minutes. LAX is served more regularly by all major airlines, while
      LGB is primarily served by JetBlue. LGB is a smaller and more manageable
      airport, but it is recommended to choose a nonstop flight to avoid getting
      caught in a winter delay during a layover.
      </p>
    </div>
    <div class="col-sm-4 base-font text-center">
      <h2> Hotels </h2>
      <p>
      Group rates have been negotiated at the following hotels. There's no need to choose one of the below hotels, as there are many other fantastic hotels in the area.
      </p>
      <h3> Shade Hotel Redondo Beach </h3>
      <p>
        <a href="https://www.yelp.com/biz/shade-hotel-redondo-beach-redondo-beach-2">Yelp Page</a><br>
        Phone:    310.921.8940
        <br><br>
        Discount: 10% off Best Available Rate for mentioning "Fang/Pipe-Mazo Wedding"
        <br><br>
        Upscale hotel on the water in Redondo Beach. Recommended for a relaxing
        getaway weekend. The hotel's restaraunt, <a href="https://www.yelp.com/biz/sea-level-restaurant-and-lounge-redondo-beach-2?osq=Sea+Level">Sea Level</a>,
        has a quite good and reasonably priced happy hour.
      </p>
      <h3> Holiday Inn Express Hermosa Beach </h3>
      <p>
        <a href="https://www.yelp.com/biz/holiday-inn-express-and-suites-hermosa-beach-hermosa-beach-2?osq=holiday+inn+express">Yelp Page</a><br>
        Phone:    310.798.9898
        <br><br>
        Discount: $160/night negotiated rate for King or 2 Queen room
        <br><br>
        Includes parking, Wi-Fi and breakfast. Hotel is steps from the beach,
        King Harbor Marina and Hermosa Beach Pier.
        <br><br>
        Please hold off on booking a room for now as we haven't finalized our
        contract. We'll update this page with the booking information once we've
        gotten it all tidied up.
      </p>
    </div>
    <div class="col-sm-4 base-font text-center">
      <h2> AirBnB </h2>
      <p>
      AirBnB is also a great option for the area, as there are plenty of
      multi-bedroom homes available for rent over the weekend. Click
      <a href="https://www.airbnb.com/s/Redondo-Beach--CA--United-States/homes?checkin=2018-02-16&checkout=2018-02-19&guests=4&adults=4&pets=false&allow_override%5B%5D=&ne_lat=33.84776844737407&ne_lng=-118.34920383568715&sw_lat=33.77620561393266&sw_lng=-118.42645145531606&zoom=13&search_by_map=true&room_types%5B%5D=Entire%20home%2Fapt&s_tag=5ywPUTue">here</a>
      to see avilable homes for the weekend.
      </p>
    </div>
  </div>
</div>
{% endblock %}

<!-- Bootstrap code -->
{% include "wedding/blocks/bootstrap.html" %}
