{% extends "wedding/blocks/base.html" %}
{% load easy_maps_tags %}
{% load static %}

{% block title %}
Wedding
{% endblock %}

{% block content %}
<div id="wedding" class="container-fluid page-container">
  <h1 class="page-header text-center">Ceremony and Reception</h1>

  <div class=row>
    <h1 class="wedding-text text-center">
        Sunday, February 18, 2018
    </h1>
  </div>

  <!-- Row with wedding map and venue info -->
  <div class="row">
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">La Venta Inn</h2>
        <p>
          804 Vía Del Monte<br>
          Palos Verdes Estates, CA 90274<br><br>
          <a href="https://www.google.com/maps?saddr=My+Location&daddr=804+Vía+Del+Monte,+Palos+Verdes+Estates,+CA+90274">Directions</a><br>
          Parking available on-site.<br><br>
          <small>
            Questions? Need help setting up a carpool? Please reach out to your 
            point of contact, who can be found on the 
            <a href="/contacts">Contacts</a> page.
          </small>
        </p>
    </div>
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">Ceremony<br><small class="text-muted">4:00PM</small></h2>
        <p>
          <a href="https://www.thespruce.com/semi-formal-attire-guidelines-1216504">Semiformal Attire</a><br>
          Please avoid outfits that are mostly red, white, or silver. See the 
          <a href="/traditions">wedding traditions</a> page for details.<br><br>
          Ceremony will begin promptly at 4PM. The ceremony will be held 
          outdoors with ideal weather, otherwise indoors. Expect 65-70F and 
          (hopefully) sunny weather.
        </p>
    </div>
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">Reception<br><small class="text-muted">Following Ceremony - 9:00PM</small></h2>
      <p>
          Cocktail hour during sunset<br><br>
          We'll then move indoors for dinner, dancing, and other wedding-related festivities!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">Map</h2>
      {% easy_map "804 Vía Del Monte, Palos Verdes Estates, CA 90274" 100 100 5 using 'wedding/blocks/responsive_map.html' %}
    </div>
  </div>
</div>
{% endblock %}
