{% load static %}
{% load inlinecss %}

{% inlinecss "css/email.css" %}
<div>
	<p>
		Dear {{ first_name }},<br><br>

		We can't wait to celebrate our marriage with you in just a few weeks! Please find below a confirmation of your response from the website as well as additional information about the events.
	</p>
</div>

{% if attending_cny %}
<div>
	<h2> Chinese New Year & Shabbat Dinner </h2>

	<p>We have the following people attending our Chinese New Year / Shabbat dinner on 2/16/18:</p>
	<ol>
	{% for person in attending_cny %}
		<li>{{ person.name }}</li>
	{% endfor %}
	</ol>

	<p>We'll be gathering at <b>7:00PM</b> at:<br><br>
	<b>Empress Harbor Restaurant</b><br>
	<a href=https://www.google.com/maps/place/Empress+Harbor+Restaurant/@34.0629425,-118.136659,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c55d6a1b9aa3:0x504f163410e84e1a!8m2!3d34.0629381!4d-118.1344703>111 N Atlantic Blvd #350<br>Monterey Park, CA 91754
	</a></p>

	<p>Parking is free in the structure beneath the restaurant. After parking, you can take the escalators or stairs up to the third floor to find the restaurant.</p>

	<p>After dinner (around 8:30PM), we will walk a few shops down to get boba at:<br><br>
	<b>Half and Half Tea House</b><br>
	<a href="https://www.google.com/maps/place/Half+%26+Half+Tea+House+MP/@34.0636102,-118.1367197,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c55d72b7cc0d:0x2bf98171d1195ecd!8m2!3d34.0636058!4d-118.134531">141 N Atlantic Blvd #112<br>Monterey Park, CA 91754</a></p>

	<p>Please note that traffic in Los Angeles can be challenging and that Monterey Park is a bit of a drive from the wedding venue and hotels. Best case from the Redondo/Hermosa beach area is 40 minutes, the more likely case is closer to an hour on a Friday evening. Please plan accordingly!</p>
</div>
{% endif %}

{% if attending_wedding %}
<div>
	<h2> Wedding Ceremony and Reception </h2>

	<p>We have the following people attending our wedding on 2/18/18:</p>
	<ol>
	{% for person in attending_wedding %}
		<li style='font-family: "Arial"'>{{ person.name }}</li>
	{% endfor %}
	</ol>

	<p>The ceremony and reception are both being held at at:<br><br>
	<b>La Venta Inn</b><br>
	<a href="https://www.google.com/maps?saddr=My+Location&daddr=804+Vía+Del+Monte,+Palos+Verdes+Estates,+CA+90274">
	804 Via Del Monte<br>
	Palos Verdes Estates, CA 90274</a></p>

	<p>Please arrive <b>no later than 3:45PM</b> as the ceremony will begin promptly at 4:00PM.</p>

	<p>La Venta Inn is a 15-20 minute drive from the Redondo/Hermosa beach area and doesn't require any highways or highly-trafficked routes. Parking is free and available onsite. There should be enough parking for everyone, although carpooling is greatly appreciated. Ridesharing options (Lyft, Uber, etc.) are also readily available in the area. Please be sure your transportation plans include a designated driver! </p>
</div>
{% endif %}

<div>
	<h2> General Information </h2>
	<p> Please feel free to reply directly to this email with any comments, questions or concerns about the wedding or events. If the information for your reservation is incorrect please let us know as soon as possible. This email was automatically generated, but the responses go directly to our inbox :).</p>

    <!-- TODO change the below url when we have one (or better yet find a way to make this generic) -->
	<p>On the day of the wedding, please reach out to Lily (Maid of Honor), Ari (Best Man), or Steven if you need help finding the venue or have any other questions. You can view their contact information on the <a href="https://wedsite.io/contact">web site</a>.</p>

	<p>Sincerely,<br><br>Jenn and Dan</p>
</div>
{% endinlinecss %}
