{% block shared_navbar %}

<!-- Scrollable area -->
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- Navbar: fixed/always visible -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Shows logo. Menu button visible only when on narrow screen-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
        <!-- Draws the 3 lines for the menu button-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand base-font" href="/">J&D</a>
    </div>

    <div id="myNavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right base-font">
        <li><a href="/story">Our Story</a></li>
        <li><a href="/wedding">Ceremony & Reception</a></li>
        <li><a href="/events">Weekend Events</a></li>
        <li><a href="/travel">Travel & Lodging</a></li>
        <li><a href="/explore">Explore LA!</a></li>
        <li><a href="/gifts">Gifts</a></li>
        <li><a href="/rsvp">RSVP</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
