{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jenn and Dan's Wedding</title>

    <meta charset="utf-8">
    <!--Set page width to device width and default zoom (more for mobile)-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- TODO move to CSS file -->
    <style>
      body {
        position: relative;
        padding-top: 50px; /* adjust for navbar covering content */
      }
    </style>
  </head>

  <!-- Scrollable area -->
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Navbar: fixed/always visible -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <!-- Shows logo. Menu button visible only when on narrow screen-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#myNavbar">
            <!-- Draws the 3 lines for the menu button-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">J&D</a>
        </div>

        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- TODO link them to actual pages, not home page? -->
            <!-- TODO none of the links are on this page, so all appear "active" -->
            <li class="active"><a href="/#story">Our Story</a></li>
            <li class="active"><a href="/#wedding">The Wedding</a></li>
            <li class="active"><a href="/#gifts">Gifts</a></li>
            <li class="active"><a href="/#rsvp">RSVP</a></li>
            <li class="active"><a href="/#faq">FAQ</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>Points of Contact</h1>
      <p>
        Have some questions that weren't answered on the website? Traveling
        from far away and interested in sharing a room or setting up a carpool?
        Our wonderful wedding party is here to help! Please reach out to your
        point of contact below!
      </p>
      <!-- TODO add contact email vs phone # to cards below? -->
    </div>

    <div class="container-fluid text-center">
      <!-- Row 1 of wedding party (Ari, Lily, Steven) -->
      <div class="row">
        <!-- Ari -->
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="" alt="Ari picture">
            <div class="card-block">
              <h2 class="card-title">Ari Mazo</h2>
              <p class="card-text">
                Related to the groom or a family friend? Best Man Ari is here
                for you!
              </p>
              <a href="#" class="btn btn-primary">Text</a>
            </div>
          </div>
        </div>

        <!-- Lily -->
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="" alt="Lily picture">
            <div class="card-block">
              <h2 class="card-title">Liliana Cordero</h2>
              <p class="card-text">
                Went to school with the bride or don't recognize any of the
                other names? Maid of Honor Lily can answer all your questions!
              </p>
              <a href="#" class="btn btn-primary">Email</a>
            </div>
          </div>
        </div>

        <!-- Steven -->
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="" alt="Steven picture">
            <div class="card-block">
              <h2 class="card-title">Steven Okai</h2>
              <p class="card-text">
                Went to Caltech or attending the wedding with a Caltech alumnus?
                Good guy Okai can help you find a ride to the Bay to LA, a place
                to stay, or a carpool to the wedding.
              </p>
              <a href="#" class="btn btn-primary">Email</a>
            </div>
          </div>
        </div>
        <!-- TODO fix card element sizes so that text and buttons line up -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </body>
</html>
